.tile {
  padding-right: 1rem;
  border-right: 2px solid;

  &.blue.active-blue {
    border-color: blue;
    border-width: 3px;
  }
  &.orange.active-orange {
    border-color: orange;
    border-width: 3px;
  }
  &.green.active-green {
    border-color: green;
    border-width: 3px;
  }
  &.red.active-red {
    border-color: red;
    border-width: 3px;
  }
}

.header.blue {
  color: blue;
}
.header.red {
  color: red;
}
.header.green {
  color: green;
}
.header.orange {
  color: orange;
}
